---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="urge" description="Start your busines with urge">
  <div>
    <ul class="stack-cards js-stack-cards">
      <li class="stack-cards__item js-stack-cards__item">
        <h1>Card 1</h1>
      </li>

      <li class="stack-cards__item js-stack-cards__item">
        <h1>Card 2</h1>
      </li>

      <li class="stack-cards__item js-stack-cards__item">
        <h1>Card 3</h1>
      </li>

      <!-- additional card items here -->
    </ul>
  </div>
</Layout>
<style>
  .stack-cards {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .stack-cards__item {
    position: sticky;
    top: var(--space-sm);
    transform-origin: center top;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 200px; /* Set a fixed height or min-height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script is:inline src="/js/stack-cards.js"></script>
